Repository godaddy-wordpress/coblocks, pull requests merged in 2019-12, with the labels that each got.

#1158 Add CONTRIBUTORS.md to celebrate our contributors
  CONTRIBUTORS.md
Labels: help wanted

#1164 Generate translation files on master changes
  .circleci/config.yml
Labels: CircleCI

#1165 Add Lightbox to Carousel block
  includes/class-coblocks-block-assets.php
  src/blocks/gallery-carousel/edit.js
  src/blocks/gallery-carousel/inspector.js
  src/blocks/gallery-carousel/save.js
  src/js/coblocks-lightbox.js
Labels: [Block] Carousel Gallery, [Type] Enhancement

#1139 Introduce end-to-end testing using Cypress
  .circleci/config.yml
  .dev/bin/install-wp-tests.sh
  .dev/bin/setup-test-specs.sh
  .dev/tests/cypress/constants.js
  .dev/tests/cypress/helpers.js
  .dev/tests/cypress/integration/deploy-translations.js
  .dev/tests/cypress/readme.md
  .dev/tests/cypress/support/commands.js
  .dev/tests/jest/jest.config.js
  .eslintignore
  .gitignore
  cypress.json
  package-lock.json
  package.json
  src/blocks/accordion/test/accordion.cypress.js
  src/blocks/alert/test/alert.cypress.js
  src/blocks/highlight/test/highlight.cypress.js
Labels: Work in Progress, [Testing] Cypress, [Type] Build Tooling, [Type] Code Quality

#1163 New shared component: Option Selector Control
  src/blocks/gallery-collage/inspector.js
  src/blocks/posts/inspector.js
  src/components/option-selector-control/index.js
Labels: [Block] Collage Gallery, [Block] Posts, [Type] Enhancement

#1167 Remove minimum height limitation on the Carousel block
  src/blocks/gallery-carousel/edit.js
  src/blocks/gallery-carousel/inspector.js
Labels: [Block] Carousel Gallery

#1170 Add keyboard shortcuts for navigating images in a lightbox
  src/components/block-gallery/styles/style/_lightbox.scss
  src/js/coblocks-lightbox.js
Labels: [Block] Carousel Gallery, [Block] Collage Gallery, [Block] Masonry Gallery, [Block] Stacked Gallery, [Type] Enhancement

#1166 Use consistent styling for the next and previous buttons in the Carousel block and Lightbox
  includes/class-coblocks-block-assets.php
  src/blocks/gallery-carousel/styles/style.scss
Labels: [Block] Carousel Gallery, [Type] Enhancement

#1023 Use descriptive element name for Form block radio buttons
  .dev/tests/phpunit/includes/test-coblocks-form.php
  includes/class-coblocks-form.php
Labels: [Block] Form, [Type] Bug

#1017 Allow dynamic subject lines with Form block submissions
  includes/class-coblocks-block-assets.php
  includes/class-coblocks-form.php
  src/blocks/form/edit.js
Labels: [Block] Form, [Type] Enhancement

#1172 Cleanup CoBlocks options from database on uninstall
  uninstall.php
Labels: cleanup

#1179 Localize instructions string for MediaPlaceholder
  src/blocks/media-card/media-container.js
Labels: [Type] Bug

#1180 Fix bug with editing captions with no content
  src/components/block-gallery/styles/editor/_gallery-item.scss
Labels: [Type] Bug

#1181 Improve Accordion block stability through transforms testing
  src/blocks/accordion/test/transforms.spec.js
Labels: [Block] Accordion, [Testing] Jest, [Type] Enhancement

#1190 Remove --force flag from git push in the i18n build
  .circleci/config.yml
Labels: CircleCI

#1006 Introduce the ability for themes to provide custom icons for the Icon block
  includes/class-coblocks-block-assets.php
  package-lock.json
  package.json
  src/blocks/icon/deprecated.js
  src/blocks/icon/save.js
  src/blocks/icon/styles/editor.scss
  src/blocks/icon/svgs.js
Labels: [Block] Icon, [Type] Enhancement

#1037 Clean up code structure of the Row block
  src/blocks/row/controls.js
  src/blocks/row/edit.js
  src/blocks/row/getEditWrapperProps.js
  src/blocks/row/index.js
  src/blocks/row/inspector.js
  src/blocks/row/layouts.js
  src/blocks/row/utilities.js
Labels: [Block] Row, [Type] Code Quality

#1173 Introduce filter to conditionally load block styles
  README.md
  includes/class-coblocks-block-assets.php
Labels: [Type] Enhancement

#1178 Serve full size images with Post Carousel block
  src/blocks/post-carousel/index.php
Labels: [Block] Post Carousel, [Type] Bug

#1171 Use background image SVGs for the Food & Drinks block item attributes
  dist/images/food-attribute/glutenFree.svg
  dist/images/food-attribute/pescatarian.svg
  dist/images/food-attribute/popular.svg
  dist/images/food-attribute/spicy.svg
  dist/images/food-attribute/vegan.svg
  dist/images/food-attribute/vegetarian.svg
  src/blocks/food-and-drinks/food-item/deprecated.js
  src/blocks/food-and-drinks/food-item/deprecated/deprecatedIcons.js
  src/blocks/food-and-drinks/food-item/deprecated/deprecatedIconsToBackgroundImage.js
  src/blocks/food-and-drinks/food-item/edit.js
  src/blocks/food-and-drinks/food-item/save.js
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/food-item/styles/style.scss
Labels: UX, [Block] Food & Drinks, [Type] Bug

#1205 Resolve browser Object.fromEntries compatibility errors
  src/blocks/author/save.js
  src/blocks/food-and-drinks/food-item/edit.js
  src/blocks/food-and-drinks/food-item/save.js
  src/blocks/pricing-table/pricing-table-item/save.js
Labels: [Block] Author, [Block] Food & Drinks, [Block] Pricing Table, [Type] Bug

#1204 Fix display issue with Flickity navigation buttons
  src/blocks/gallery-carousel/styles/style.scss
Labels: [Block] Carousel Gallery, [Type] Bug

#987 Introduce a filter to conditionally disable the typography controls
  includes/class-coblocks-block-assets.php
  src/extensions/typography/controls.js
Labels: [Type] Enhancement

#1208 Fix media placeholder visibility when using Spotlight mode
  src/blocks/gallery-carousel/styles/editor.scss
  src/blocks/gallery-masonry/styles/editor.scss
  src/blocks/gallery-offset/styles/editor.scss
  src/blocks/gallery-stacked/styles/editor.scss
Labels: [Block] Carousel Gallery, [Block] Masonry Gallery, [Block] Offset Gallery, [Block] Stacked Gallery, [Type] Bug

#1219 Resolve 404 error for utilities styles
  includes/class-coblocks-block-assets.php
Labels: [Type] Bug

#1223 Remove has-custom-size class from Typography Controls
  src/extensions/typography/index.js
  src/extensions/typography/styles/style.scss
Labels: Typography Controls, [Type] Bug

#1222 Update PHPUnit tests to check for build assets
  .circleci/config.yml
  .dev/tests/phpunit/test-class-coblocks.php
Labels: [Testing] PHPUnit
