Repository godaddy-wordpress/coblocks, pull requests merged in 2019-07, with the labels that each got.

#642 Deleted removed files from SVN during WordPress.org deployment
  .dev/bin/deploy-plugin.sh
Labels: Enhancement

#660 Move Share block styles into the share/styles/ directory
  src/blocks/share/index.js
  src/blocks/share/styles/editor.scss
  src/blocks/share/styles/style.scss
Labels: Cleanup, [Block] Share

#661 Update Google Maps localization script
  includes/class-coblocks-google-map-block.php
  src/js/coblocks-google-maps.js
Labels: Cleanup, [Block] Map

#658 Minor dependency updates
  package.json
Labels: Cleanup

#669 Update Pinterest color to proper brand color
  src/blocks/share/styles/style.scss
Labels: [Block] Share

#647 Hero block background fix
  src/blocks/hero/components/edit.js
  src/components/background/styles.js
Labels: [Block] Hero

#646 Features block background color fix
  src/blocks/features/components/edit.js
  src/blocks/features/feature/components/edit.js
  src/components/background/styles.js
Labels: [Block] Feature, [Block] Features

#681 Add placeholder and ascending plan titles to the Pricing Table block
  src/blocks/pricing-table/components/edit.js
  src/blocks/pricing-table/pricing-table-item/components/edit.js
  src/blocks/pricing-table/pricing-table-item/index.js
  src/components/background/styles.js
Labels: Enhancement

#683 Configure repo to pull NPM dependencies from the public registry.
  .npmrc
  package-lock.json
  src/components/background/styles.js
Labels: Cleanup

#674 Fix block food-and-drink display in IE11
  src/blocks/food-and-drinks/food-item/edit.js
  src/blocks/food-and-drinks/food-item/save.js
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/food-item/styles/style.scss
  src/js/coblocks-fromEntries.js
Labels: [Block] Food & Drinks

#690 Fix Dynamic HR block with TwentyNineteen
  src/blocks/dynamic-separator/styles/style.scss
Labels: [Block] Dynamic HR

#689 Fix Hero block z-index issue on wide and full width
  src/blocks/hero/styles/editor.scss
Labels: [Block] Hero

#692 Add IE11 support to the Media Card block
  src/blocks/media-card/styles/editor.scss
  src/blocks/media-card/styles/style.scss
Labels: IE

#693 Fix Checkbox list style SVG
  dist/images/list/checkbox-rounded.svg
Labels: [Block] List

#696 Add core/group block to blocksWithSpacingSupport
  src/extensions/advanced-controls/index.js
Labels: Enhancement

#698 Fix issue with inline link in Buttons block
  src/blocks/buttons/styles/editor.scss
  src/blocks/buttons/styles/style.scss
Labels: [Block] Buttons

#655 Introduce Logo/Badges Block
  .eslintrc.json
  languages/coblocks-js.pot
  src/blocks.js
  src/blocks/logos/block.json
  src/blocks/logos/controls.js
  src/blocks/logos/edit.js
  src/blocks/logos/icons.js
  src/blocks/logos/index.js
  src/blocks/logos/inspector.js
  src/blocks/logos/logos.js
  src/blocks/logos/save.js
  src/blocks/logos/styles/editor.scss
  src/blocks/logos/styles/style.scss
  src/components/background/styles.js
Labels: New Block

#666 WIP: Add Services block
  src/blocks.js
  src/blocks/services/block.json
  src/blocks/services/edit.js
  src/blocks/services/icons.js
  src/blocks/services/index.js
  src/blocks/services/inspector.js
  src/blocks/services/save.js
  src/blocks/services/service/block.json
  src/blocks/services/service/edit.js
  src/blocks/services/service/icons.js
  src/blocks/services/service/index.js
  src/blocks/services/service/inspector.js
  src/blocks/services/service/save.js
  src/blocks/services/service/styles/editor.scss
  src/blocks/services/service/styles/style.scss
  src/blocks/services/styles/editor.scss
  src/blocks/services/styles/style.scss
  src/components/heading-toolbar/index.js
Labels: Enhancement, New Block

#701 Bump GPL to v3
  readme.txt
Labels: Enhancement
