Repository godaddy-wordpress/coblocks, pull requests merged in 2019-04, with the labels that each got.

#505 Added Remove button for API Key
  src/blocks/map/components/inspector.js
  src/blocks/map/styles/editor.scss
Labels: Enhancement, [Block] Map

#507 Check if the API key is saved before calling API on remove
  src/blocks/map/components/inspector.js
Labels: Enhancement, [Block] Map

#506 Coblocks should validate the activate_plugin nonce before redirecting to the welcome screen
  includes/admin/class-coblocks-getting-started-page.php
Labels: Enhancement

#508 Update gist block with a proper UI for Gutenberg 5.5+
  src/blocks/gist/components/edit.js
  src/blocks/gist/styles/editor.scss
Labels: [Block] Gist

#509 Fix overlap of resize handle and color picker
  src/components/inline-color-picker/index.js
  src/components/inline-color-picker/styles/editor.scss
Labels: [Block] Shape Divider
