Repository godaddy-wordpress/coblocks, pull requests merged in 2019-10, with the labels that each got.

#892 Update Row block CSS to hide default appender
  src/blocks/row/styles/editor.scss
Labels: [Block] Row, gutenberg plugin

#885 Fix display bug for images within Features block.
  src/blocks/features/styles/style.scss
Labels: Browser Compatibility, [Block] Feature, [Type] Bug

#928 Remove category setup from Carousel settings
  src/blocks/gallery-carousel/index.js
Labels: [Block] Carousel, cleanup

#927 Add icon to Logos & Badges block placeholder
  src/blocks/logos/index.js
Labels: [Block] Logos & Badges, [Type] Bug

#924 Remove extra spacing on README
  README.md
Labels: [Type] Bug

#908 Remove html editing support of gallery blocks
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-stacked/index.js
Labels: UX

#909 Make the Styles panel on Food & Drinks block not open on default
  src/blocks/food-and-drinks/inspector.js
Labels: UX

#910 Tweak Map block description
  src/blocks/map/index.js
Labels: UX

#914 Remove shape divider sidebar orientation controls
  src/blocks/shape-divider/inspector.js
  src/components/orientation/icons.js
  src/components/orientation/index.js
  src/components/orientation/styles/editor.scss
Labels: UX

#887 Handle resizable box display in style preview
  src/extensions/image-styles/styles/style.scss
Labels: [Type] Bug

#930 Remove index image attribute from stacked and masonry galleries.
  src/blocks/gallery-masonry/deprecated.js
  src/blocks/gallery-masonry/inspector.js
  src/blocks/gallery-masonry/save.js
  src/blocks/gallery-stacked/deprecated.js
  src/blocks/gallery-stacked/save.js
  src/js/coblocks-lightbox.js
Labels: [Block] Masonry, [Block] Stacked, cleanup

#931 Minor text align class tweak
  src/blocks/social-profiles/index.php
Labels: cleanup

#929 Add auto height and max-width to masonry block images
  src/blocks/gallery-masonry/styles/style.scss
Labels: [Block] Masonry

#934 Update Services block icons
  src/blocks/services/icon.js
  src/blocks/services/service/icon.js
Labels: UX

#935 Update Media Card icons
  src/blocks/media-card/icon.js
  src/blocks/media-card/icons.js
Labels: UX

#932 Convert Icon block to use alignment classes
  src/blocks/icon/deprecated.js
  src/blocks/icon/edit.js
  src/blocks/icon/index.js
  src/blocks/icon/save.js
Labels: cleanup

#936 Add disabled attribute to apply button
  src/blocks/map/edit.js
Labels: [Block] Map, [Type] Bug

#937 Fix Food & Drinks + Food Item icons
  src/blocks/food-and-drinks/food-item/icon.js
  src/blocks/food-and-drinks/icon.js
Labels: [Block] Food & Drinks

#907 Add Collage Gallery block
  src/blocks.js
  src/blocks/gallery-collage/block.json
  src/blocks/gallery-collage/controls.js
  src/blocks/gallery-collage/edit.js
  src/blocks/gallery-collage/icon.js
  src/blocks/gallery-collage/index.js
  src/blocks/gallery-collage/inspector.js
  src/blocks/gallery-collage/save.js
  src/blocks/gallery-collage/styles/editor.scss
  src/blocks/gallery-collage/styles/style.scss
  src/blocks/gallery-collage/transforms.js
  src/components/block-gallery/shared/transforms.js
  src/components/block-gallery/styles/editor/_gallery-item-menus.scss
  src/styles/editor/_is-transient.scss
  src/styles/style.scss
  src/styles/style/_mixins.scss
  src/styles/style/_padding.scss
  src/styles/style/_shadow.scss
Labels: [Type] Enhancement

#925 Remove redirect action when activating CoBlocks
  .dev/tests/phpunit/includes/admin/test-coblocks-getting-started-page.php
  includes/admin/class-coblocks-getting-started-page.php
Labels: UX

#946 Add icon to Map block placeholder
  src/blocks/map/edit.js
Labels: [Block] Map, [Type] Bug

#942 Run eslint and jest tests pre-commit
  package-lock.json
  package.json
Labels: [Type] Build Tooling, [Type] Code Quality

#954 i18n: Remove unnecessary `declare` statement.
  .dev/bin/update-po.sh
Labels: cleanup

#963 Remove development source files from the plugin
  gruntfile.js
Labels: [Type] Enhancement

#953 Add the Reply-To header to emails sent from the Form block
  includes/class-coblocks-form.php
Labels: [Block] Form, [Type] Enhancement

#958 Add a 'popular' menu item icon to Food and Drinks block
  src/blocks/food-and-drinks/food-item/block.json
  src/blocks/food-and-drinks/food-item/edit.js
  src/blocks/food-and-drinks/food-item/icons.js
  src/blocks/food-and-drinks/food-item/inspector.js
  src/blocks/food-and-drinks/food-item/save.js
Labels: [Block] Food & Drinks, [Type] Enhancement

#736 Add new Posts block to display blogroll or RSS feed posts
  package.json
  src/blocks.js
  src/blocks/gist/index.js
  src/blocks/posts/block.json
  src/blocks/posts/edit.js
  src/blocks/posts/icon.js
  src/blocks/posts/icons.js
  src/blocks/posts/index.js
  src/blocks/posts/index.php
  src/blocks/posts/inspector.js
  src/blocks/posts/styles/editor.scss
  src/blocks/posts/styles/style.scss
  src/blocks/posts/transforms.js
  src/common.scss
  src/styles/editor.scss
  src/styles/style.scss
  src/styles/style/_columns.scss
  src/styles/style/_height.scss
  src/styles/style/_margin.scss
  src/styles/style/_padding.scss
  src/styles/style/_width.scss
Labels: HMT, [Type] Enhancement

#966 Add new Post Carousel block to display a slideshow of blog posts
  includes/class-coblocks-block-assets.php
  package.json
  src/blocks.js
  src/blocks/post-carousel/block.json
  src/blocks/post-carousel/edit.js
  src/blocks/post-carousel/icon.js
  src/blocks/post-carousel/index.js
  src/blocks/post-carousel/index.php
  src/blocks/post-carousel/inspector.js
  src/blocks/post-carousel/styles/_slick.scss
  src/blocks/post-carousel/styles/editor.scss
  src/blocks/post-carousel/styles/style.scss
  src/blocks/post-carousel/transforms.js
  src/blocks/posts/edit.js
  src/common.scss
  src/components/slider-panel/autoplay-options.js
  src/js/coblocks-slick-initializer-front.js
  src/js/coblocks-slick-initializer.js
  src/js/vendors/slick.js
  src/styles/style/_background-classes.scss
Labels: HMT, [Type] Enhancement

#951 Improve Alert block stability through block validation testing
  src/blocks/alert/deprecated.js
  src/blocks/alert/test/__snapshots__/save.spec.js.snap
  src/blocks/alert/test/deprecated.spec.js
  src/blocks/alert/test/save.spec.js
Labels: [Block] Alert, [Testing] Jest, [Type] Code Quality

#949 Tag each release of CoBlocks on the WordPress.org SVN during deployment
  .dev/bin/deploy-plugin.sh
Labels: [Type] Enhancement

#971 Add a CODEOWNERS file for GitHub to provide better reviewer suggestions
  .github/CODEOWNERS
Labels: [Type] Build Tooling

#972 Prevent the Block Manager from loading in WordPress 5.2+
  src/sidebars/block-manager/deprecated.js
  src/sidebars/block-manager/index.js
Labels: [Type] Bug

#957 Improve Accordion block stability through block validation testing
  src/blocks/accordion/accordion-item/test/__snapshots__/save.spec.js.snap
  src/blocks/accordion/accordion-item/test/save.spec.js
  src/blocks/accordion/test/__snapshots__/save.spec.js.snap
  src/blocks/accordion/test/save.spec.js
Labels: [Block] Accordion, [Testing] Jest, [Type] Code Quality

#952 Improve Author block stability through block validation testing
  src/blocks/author/test/__snapshots__/save.spec.js.snap
  src/blocks/author/test/deprecated.spec.js
  src/blocks/author/test/save.spec.js
Labels: [Block] Author, [Testing] Jest, [Type] Code Quality

#955 Improve Button block stability through block validation testing
  src/blocks/buttons/test/__snapshots__/save.spec.js.snap
  src/blocks/buttons/test/deprecated.spec.js
  src/blocks/buttons/test/save.spec.js
Labels: [Block] Buttons, [Testing] Jest, [Type] Code Quality

#956 Improve Click to Tweet block stability through block validation testing
  src/blocks/click-to-tweet/test/__snapshots__/save.spec.js.snap
  src/blocks/click-to-tweet/test/deprecated.spec.js
  src/blocks/click-to-tweet/test/save.spec.js
Labels: [Block] Click to Tweet, [Testing] Jest, [Type] Code Quality

#959 Improve Dynamic Separator block stability through block validation testing
  src/blocks/dynamic-separator/test/__snapshots__/save.spec.js.snap
  src/blocks/dynamic-separator/test/save.spec.js
Labels: [Block] Dynamic HR, [Testing] Jest, [Type] Code Quality

#960 Improve Features block stability through block validation testing
  src/blocks/features/feature/test/__snapshots__/save.spec.js.snap
  src/blocks/features/feature/test/save.spec.js
  src/blocks/features/test/__snapshots__/save.spec.js.snap
  src/blocks/features/test/save.spec.js
Labels: [Block] Feature, [Block] Features, [Testing] Jest, [Type] Code Quality

#967 Improve Masonry Gallery block stability through block validation testing
  src/blocks/gallery-masonry/test/__snapshots__/save.spec.js.snap
  src/blocks/gallery-masonry/test/deprecated.spec.js
  src/blocks/gallery-masonry/test/save.spec.js
Labels: [Block] Masonry, [Testing] Jest, [Type] Code Quality

#968 Improve Carousel Gallery block stability through block validation testing
  src/blocks/gallery-carousel/test/__snapshots__/save.spec.js.snap
  src/blocks/gallery-carousel/test/deprecated.spec.js
  src/blocks/gallery-carousel/test/save.spec.js
Labels: [Block] Carousel, [Testing] Jest, [Type] Code Quality

#970 Improve deprecation tests by exposing actionable information.
  .circleci/config.yml
  .dev/tests/jest/helpers.js
  package.json
  src/blocks/alert/test/deprecated.spec.js
  src/blocks/author/test/deprecated.spec.js
  src/blocks/buttons/test/deprecated.spec.js
  src/blocks/click-to-tweet/test/deprecated.spec.js
  src/blocks/gallery-carousel/test/deprecated.spec.js
  src/blocks/gallery-masonry/test/deprecated.spec.js
  src/blocks/gallery-stacked/test/deprecated.spec.js
  src/blocks/hero/test/deprecated.spec.js
  src/extensions/colors/apply-style.js
  src/extensions/typography/apply-style.js
  src/extensions/typography/apply-style.spec.js
Labels: [Testing] Jest, [Type] Code Quality

#973 Fix Media Card block icon
  src/blocks/media-card/icon.js
Labels: [Type] Bug

#543 Add missing responsive margin/padding units to Hero and Column blocks
  src/blocks/hero/inspector.js
  src/blocks/row/column/inspector.js
Labels: [Block] Row, [Type] Bug

#962 Improve Form block stability through block validation testing
  src/blocks.js
  src/blocks/form/edit.js
  src/blocks/form/fields/email/block.json
  src/blocks/form/fields/email/edit.js
  src/blocks/form/fields/email/index.js
  src/blocks/form/fields/email/test/__snapshots__/save.spec.js.snap
  src/blocks/form/fields/email/test/save.spec.js
  src/blocks/form/fields/name/block.json
  src/blocks/form/fields/name/edit.js
  src/blocks/form/fields/name/index.js
  src/blocks/form/fields/name/test/__snapshots__/save.spec.js.snap
  src/blocks/form/fields/name/test/save.spec.js
  src/blocks/form/fields/textarea/block.json
  src/blocks/form/fields/textarea/edit.js
  src/blocks/form/fields/textarea/index.js
  src/blocks/form/fields/textarea/test/__snapshots__/save.spec.js.snap
  src/blocks/form/fields/textarea/test/save.spec.js
  src/blocks/form/test/__snapshots__/save.spec.js.snap
  src/blocks/form/test/save.spec.js
Labels: [Block] Form, [Testing] Jest, [Type] Code Quality

#976 Stop system fonts from attempting to load from Google Fonts
  src/components/font-family/index.js
Labels: Typography Controls

#977 Convert map height slider control to number input
  src/blocks/map/inspector.js
Labels: [Block] Map, [Type] Enhancement

#981 Remove Jest tests for Edit components
  src/blocks/hero/test/__snapshots__/edit.spec.js.snap
  src/blocks/hero/test/edit.spec.js
  src/blocks/highlight/test/__snapshots__/edit.spec.js.snap
  src/blocks/highlight/test/edit.spec.js
Labels: [Testing] Jest

#986 Resolve missing text format controls because of missing script dependencies
  includes/class-coblocks-block-assets.php
  src/blocks.js
  src/formats/index.js
  src/formats/uppercase/index.js
Labels: [Type] Bug

#982 Fix .pot/.po translations, add i18n generation to build process
  .dev/bin/update-po.sh
  languages/coblocks-da_DK.po
  languages/coblocks-de_DE.po
  languages/coblocks-el.po
  languages/coblocks-es_ES.po
  languages/coblocks-fi.po
  languages/coblocks-fr_FR.po
  languages/coblocks-hi_IN.po
  languages/coblocks-id_ID.po
  languages/coblocks-it_IT.po
  languages/coblocks-ja.po
  languages/coblocks-ko_KR.po
  languages/coblocks-mr.po
  languages/coblocks-nb_NO.po
  languages/coblocks-nl_NL.po
  languages/coblocks-pl_PL.po
  languages/coblocks-pt_BR.po
  languages/coblocks-pt_PT.po
  languages/coblocks-ru_RU.po
  languages/coblocks-sv_SE.po
  languages/coblocks-th.po
  languages/coblocks-tr_TR.po
  languages/coblocks-uk.po
  languages/coblocks-vi.po
  languages/coblocks-zh_CN.po
  languages/coblocks-zh_TW.po
  languages/coblocks.pot
  package.json
Labels: [Type] Bug, [Type] Enhancement

#993 Remove "Leave a Review" feedback notice
  .dev/tests/phpunit/includes/admin/test-coblocks-feedback.php
  .dev/tests/phpunit/test-class-coblocks.php
  class-coblocks.php
  includes/admin/class-coblocks-feedback.php
Labels: cleanup

#964 Add local language support for Map block
  includes/class-coblocks-google-map-block.php
  src/blocks/map/deprecated.js
  src/blocks/map/edit.js
  src/blocks/map/save.js
Labels: [Block] Map, [Type] Bug, accessibility

#992 Use proper SCSS variables in block styles
  src/blocks/accordion/styles/editor.scss
  src/blocks/post-carousel/styles/style.scss
  src/blocks/posts/styles/style.scss
  src/blocks/social-profiles/styles/editor.scss
  src/components/block-gallery/styles/style/_core-themes.scss
  src/components/block-gallery/styles/style/_lightbox.scss
Labels: cleanup

#989 Fix deprecation for the CoBlocks Block Manager
  src/sidebars/block-manager/components/modal.js
  src/sidebars/block-manager/components/options/disable-blocks.js
  src/sidebars/block-manager/deprecated.js
Labels: cleanup

#984 Fix image links being erased when a Gallery block is updated
  src/blocks/gallery-carousel/controls.js
  src/blocks/gallery-collage/controls.js
  src/blocks/gallery-masonry/controls.js
  src/blocks/gallery-stacked/controls.js
  src/utils/helper.js
Labels: [Block] Masonry, [Type] Bug

#996 Ensure style previews of the Icon block display the selected icon
  src/blocks/icon/block.json
  src/blocks/icon/edit.js
  src/blocks/icon/index.js
  src/blocks/icon/inspector.js
Labels: [Block] Icon, [Type] Bug

#994 Do not show layout styles toolbar until a layout is selected
  src/blocks/row/controls.js
Labels: [Block] Row, [Type] Bug

#990 Add missing viewBox values on block icons
  src/blocks/accordion/icon.js
  src/blocks/alert/icon.js
  src/blocks/author/icon.js
  src/blocks/buttons/icon.js
  src/blocks/click-to-tweet/icon.js
  src/blocks/dynamic-separator/icon.js
  src/blocks/features/icon.js
  src/blocks/form/icon.js
  src/blocks/gallery-carousel/icon.js
  src/blocks/gallery-collage/icon.js
  src/blocks/gallery-masonry/icon.js
  src/blocks/gallery-stacked/icon.js
  src/blocks/gif/icon.js
  src/blocks/gist/icon.js
  src/blocks/hero/icon.js
  src/blocks/highlight/icon.js
  src/blocks/icon/icon.js
  src/blocks/logos/icon.js
  src/blocks/map/icon.js
  src/blocks/pricing-table/icon.js
  src/blocks/pricing-table/pricing-table-item/icon.js
  src/blocks/row/column/icon.js
  src/blocks/row/icon.js
  src/blocks/services/icon.js
  src/blocks/services/service/icon.js
  src/blocks/shape-divider/icon.js
  src/blocks/share/icon.js
  src/blocks/social-profiles/icon.js
Labels: UI, [Type] Bug

#974 Improve the Map block Google Maps API key UX
  src/blocks/map/inspector.js
Labels: UX, [Block] Map

#939 Remove allowedBlocks limitation from the Accordion Item
  src/blocks/accordion/accordion-item/edit.js
  src/blocks/accordion/accordion-item/styles/style.scss
Labels: [Block] Accordion, [Type] Enhancement

#726 Add undefined checks to Dimensions control
  src/components/dimensions-control/index.js
Labels: [Type] Bug

#997 Improve Gif block stability through block validation testing
  src/blocks/gif/test/__snapshots__/save.spec.js.snap
  src/blocks/gif/test/save.spec.js
Labels: [Block] Gif, [Testing] Jest, [Type] Code Quality

#998 Improve Gist block stability through block validation testing
  src/blocks/gist/deprecated.js
  src/blocks/gist/test/__snapshots__/save.spec.js.snap
  src/blocks/gist/test/deprecated.spec.js
  src/blocks/gist/test/save.spec.js
Labels: [Block] Gist, [Testing] Jest, [Type] Code Quality

#999 Improve Icon block stability through block validation testing
  src/blocks/icon/test/__snapshots__/save.spec.js.snap
  src/blocks/icon/test/deprecated.spec.js
  src/blocks/icon/test/save.spec.js
Labels: [Block] Icon, [Testing] Jest, [Type] Code Quality

#1000 Improve Logos block stability through block validation testing
  src/blocks/logos/test/__snapshots__/save.spec.js.snap
  src/blocks/logos/test/save.spec.js
Labels: [Block] Logos & Badges, [Testing] Jest, [Type] Code Quality

#1001 Improve Map block stability through block validation testing
  src/blocks/map/test/__snapshots__/save.spec.js.snap
  src/blocks/map/test/deprecated.spec.js
  src/blocks/map/test/save.spec.js
Labels: [Block] Map, [Testing] Jest, [Type] Code Quality

#1002 Improve Media Card block stability through block validation testing
  src/blocks/media-card/test/__snapshots__/save.spec.js.snap
  src/blocks/media-card/test/save.spec.js
Labels: [Block] Media Card, [Testing] Jest, [Type] Code Quality

#1003 Improve Pricing Table block stability through block validation testing
  src/blocks/pricing-table/pricing-table-item/test/__snapshots__/save.spec.js.snap
  src/blocks/pricing-table/pricing-table-item/test/save.spec.js
  src/blocks/pricing-table/test/__snapshots__/save.spec.js.snap
  src/blocks/pricing-table/test/deprecated.spec.js
  src/blocks/pricing-table/test/save.spec.js
Labels: [Block] Pricing Table, [Testing] Jest, [Type] Code Quality

#1008 Fix links opening in a new tab in the Icon block
  src/blocks/icon/block.json
  src/blocks/icon/test/deprecated.spec.js
Labels: [Block] Icon, [Type] Bug

#985 Resolve PHP warnings with WordPress 5.3 Beta
  includes/admin/class-coblocks-getting-started-page.php
Labels: [Type] Bug

#1007 Improve placeholder text in the Accordion block
  src/blocks/accordion/accordion-item/edit.js
Labels: [Type] Enhancement

#995 Fix the block validation error when the Hero block background color is removed
  src/blocks/hero/block.json
  src/blocks/hero/deprecated.js
  src/blocks/hero/test/__snapshots__/save.spec.js.snap
Labels: [Block] Hero, [Type] Bug

#988 Add PHP development dependencies with composer
  .circleci/config.yml
  .dev/bin/install-dependencies.sh
  .dev/bin/install-wp-tests.sh
  .dev/tests/jest/jest.config.js
  .dev/tests/phpunit/bootstrap.php
  .dev/tests/phpunit/includes/test-class-register-blocks.php
  .dev/tests/phpunit/includes/test-coblocks-accordion-ie-support.php
  .dev/tests/phpunit/includes/test-coblocks-block-assets.php
  .dev/tests/phpunit/includes/test-coblocks-block-settings.php
  .dev/tests/phpunit/includes/test-coblocks-font-loader.php
  .dev/tests/phpunit/includes/test-coblocks-form.php
  .dev/tests/phpunit/includes/test-coblocks-google-map-block.php
  .dev/tests/phpunit/test-class-coblocks.php
  class-coblocks.php
  composer.json
  composer.lock
  includes/admin/class-coblocks-crop-settings.php
  includes/admin/class-coblocks-install.php
  includes/class-coblocks-accordion-ie-support.php
  includes/class-coblocks-block-assets.php
  includes/class-coblocks-block-settings.php
  includes/class-coblocks-font-loader.php
  includes/class-coblocks-form.php
  includes/class-coblocks-google-map-block.php
  includes/class-coblocks-register-blocks.php
  includes/get-dynamic-blocks.php
  package-lock.json
  package.json
  phpcs.xml
  phpunit.xml
  readme.txt
  src/blocks/post-carousel/index.php
  src/blocks/posts/index.php
  src/blocks/share/index.php
  src/blocks/social-profiles/index.php
  src/components/crop-settings/original-image.js
  src/extensions/image-crop/index.js
Labels: [Testing] PHPUnit, [Type] Build Tooling, [Type] Code Quality

#1014 Ensure image placeholders maintain aspect ratio of the selected style
  src/blocks/services/service/edit.js
  src/blocks/services/service/styles/editor.scss
  src/blocks/services/service/styles/style.scss
Labels: UX, [Block] Services, [Type] Enhancement

#1018 Remove excess padding from Services placeholders
  src/blocks/services/styles/editor.scss
Labels: [Type] Bug

#1025 Use COBLOCKS_VERSION when registering scripts
  includes/class-coblocks-block-assets.php
Labels: [Type] Enhancement

#1032 Improve Row block stability through block validation testing
  src/blocks/row/column/test/__snapshots__/save.spec.js.snap
  src/blocks/row/column/test/deprecated.spec.js
  src/blocks/row/column/test/save.spec.js
  src/blocks/row/deprecated.js
  src/blocks/row/save.js
  src/blocks/row/test/__snapshots__/save.spec.js.snap
  src/blocks/row/test/deprecated.spec.js
  src/blocks/row/test/save.spec.js
Labels: [Block] Row, [Testing] Jest, [Type] Code Quality

#1034 Improve Services block stability through block validation testing
  src/blocks/services/service/test/__snapshots__/save.spec.js.snap
  src/blocks/services/service/test/save.spec.js
  src/blocks/services/test/__snapshots__/save.spec.js.snap
  src/blocks/services/test/save.spec.js
Labels: [Block] Service, [Block] Services, [Testing] Jest, [Type] Code Quality

#1060 Improve Shape Divider block stability through block validation testing
  src/blocks/shape-divider/deprecated.js
  src/blocks/shape-divider/test/__snapshots__/save.spec.js.snap
  src/blocks/shape-divider/test/deprecated.spec.js
  src/blocks/shape-divider/test/save.spec.js
Labels: [Block] Shape Divider, [Testing] Jest, [Type] Code Quality

#1059 Improve Share block stability through block validation testing
  src/blocks/share/block.json
  src/blocks/share/index.js
  src/blocks/share/index.php
  src/blocks/share/test/save.spec.js
Labels: [Block] Share, [Testing] Jest, [Type] Code Quality

#1057 Improve Social Profiles block stability through block validation testing
  src/blocks/social-profiles/block.json
  src/blocks/social-profiles/index.js
  src/blocks/social-profiles/index.php
  src/blocks/social-profiles/test/save.spec.js
Labels: [Block] Social Profiles, [Testing] Jest, [Type] Code Quality

#1070 Improve Post Carousel block stability through block validation testing
  .circleci/config.yml
  .dev/tests/phpunit/src/blocks/post-carousel/test-index.php
  .dev/tests/phpunit/src/blocks/social/test-index.php
  package-lock.json
  src/blocks/post-carousel/block.json
  src/blocks/post-carousel/index.js
  src/blocks/post-carousel/index.php
Labels: [Block] Post Carousel, [Testing] PHPUnit, [Type] Code Quality

#1078 Add Twenty Twenty as an auto-generated theme classes
  .dev/tests/phpunit/includes/test-coblocks-body-classes.php
  includes/class-coblocks-body-classes.php
Labels: [Type] Enhancement

#1042 Replace "Cheating Huh?" with a less insulting message
  class-coblocks.php
Labels: cleanup

#1013 Use number input for height controls Carousel block
  src/blocks/gallery-carousel/inspector.js
Labels: [Block] Carousel Gallery

#1075 Improve Collage Gallery block stability through block validation testing
  src/blocks/gallery-collage/test/__snapshots__/save.spec.js.snap
  src/blocks/gallery-collage/test/save.spec.js
Labels: [Block] Collage Gallery, [Testing] Jest, [Type] Code Quality

#1069 Improve Posts block stability through block validation testing
  .dev/tests/phpunit/src/blocks/posts/test-index.php
  src/blocks/posts/block.json
  src/blocks/posts/icons.js
  src/blocks/posts/index.js
  src/blocks/posts/index.php
Labels: [Block] Posts, [Testing] PHPUnit, [Type] Code Quality

#1035 Posts block: Scope column styles to the Posts block.
  src/styles/style/_columns.scss
Labels: [Block] Column, [Type] Bug

#1067 Fix Collage Block layouts for the TwentyTwenty theme
  src/blocks/gallery-collage/styles/editor.scss
  src/blocks/gallery-collage/styles/style.scss
Labels: [Block] Collage Gallery, [Theme] 2020, [Type] Bug
