Repository godaddy-wordpress/coblocks, pull requests merged in 2019-08, with the labels that each got.

#731 Hero Refactor - Issue #504
  src/blocks/hero/colors.js
  src/blocks/hero/controls.js
  src/blocks/hero/edit.js
  src/blocks/hero/icons.js
  src/blocks/hero/index.js
  src/blocks/hero/inspector.js
  src/blocks/hero/layouts.js
  src/blocks/hero/save.js
  src/blocks/hero/transforms.js
Labels: Cleanup, [Block] Hero

#738 Add another container div in the Hero block
  src/blocks/hero/deprecated.js
  src/blocks/hero/edit.js
  src/blocks/hero/index.js
  src/blocks/hero/save.js
  src/blocks/hero/styles/editor.scss
  src/blocks/hero/styles/style.scss
Labels: Enhancement, [Block] Hero

#725 Gallery-Stacked Refactor - Issue #504
  src/blocks/gallery-stacked/index.js
  src/blocks/gallery-stacked/save.js
Labels: Cleanup, [Block] Stacked

#724 Gallery-Masonry Refactor - Issue #504
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-masonry/save.js
Labels: Cleanup, [Block] Masonry

#723 Gallery-Carousel Block Refactor - Issue #504
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-carousel/save.js
Labels: Cleanup, [Block] Carousel

#722 Food-and-Drinks Block Refactor - Issue #504
  src/blocks/food-and-drinks/food-item/index.js
  src/blocks/food-and-drinks/index.js
Labels: Cleanup, [Block] Food & Drinks

#721 Features Block Refactor - Issue #504
  src/blocks/features/colors.js
  src/blocks/features/controls.js
  src/blocks/features/edit.js
  src/blocks/features/feature/colors.js
  src/blocks/features/feature/controls.js
  src/blocks/features/feature/edit.js
  src/blocks/features/feature/icons.js
  src/blocks/features/feature/index.js
  src/blocks/features/feature/inspector.js
  src/blocks/features/feature/save.js
  src/blocks/features/icons.js
  src/blocks/features/index.js
  src/blocks/features/inspector.js
  src/blocks/features/save.js
  src/blocks/features/transforms.js
Labels: Cleanup, [Block] Feature, [Block] Features

#720 Dynamic-Separator Refactor - Issue #504
  src/blocks/dynamic-separator/index.js
  src/blocks/dynamic-separator/save.js
Labels: Cleanup, [Block] Dynamic HR

#717 Click-To-Tweet Refactor - Issue #504
  src/blocks/click-to-tweet/colors.js
  src/blocks/click-to-tweet/controls.js
  src/blocks/click-to-tweet/edit.js
  src/blocks/click-to-tweet/index.js
  src/blocks/click-to-tweet/inspector.js
  src/blocks/click-to-tweet/save.js
  src/blocks/click-to-tweet/transforms.js
Labels: Cleanup, [Block] Click to Tweet

#716 Buttons Refactor - Issue #504
  src/blocks/buttons/block.json
  src/blocks/buttons/index.js
Labels: Cleanup, [Block] Buttons

#715 Author Refactor - Issue #504
  src/blocks/author/controls.js
  src/blocks/author/edit.js
  src/blocks/author/index.js
  src/blocks/author/save.js
  src/blocks/author/transforms.js
Labels: Cleanup, [Block] Author

#714 Alert Refactor - Issue #504
  src/blocks/alert/colors.js
  src/blocks/alert/controls.js
  src/blocks/alert/deprecated.js
  src/blocks/alert/edit.js
  src/blocks/alert/index.js
  src/blocks/alert/inspector.js
  src/blocks/alert/save.js
  src/blocks/alert/transforms.js
Labels: Cleanup, [Block] Alert

#713 Accordion & Accordion Item Refactor - Issue #504
  src/blocks/accordion/accordion-item/colors.js
  src/blocks/accordion/accordion-item/controls.js
  src/blocks/accordion/accordion-item/edit.js
  src/blocks/accordion/accordion-item/index.js
  src/blocks/accordion/accordion-item/inspector.js
  src/blocks/accordion/accordion-item/save.js
  src/blocks/accordion/edit.js
  src/blocks/accordion/index.js
  src/blocks/accordion/inspector.js
  src/blocks/accordion/transforms.js
Labels: Cleanup, [Block] Accordion

#728 Fix tabindex order of Form Block
  includes/class-coblocks-form.php
Labels: [Block] Form, accessibility

#712 add Food & Drinks Block to list of blocks
  README.md
Labels: Cleanup

#704 Refactor gist block to allow gist URLs be deleted without issue
  src/blocks/gist/components/edit.js
  src/blocks/gist/components/inspector.js
Labels: [Block] Gist

#706 add withNotices to handle Gist block errors
  src/blocks/gist/components/edit.js
  src/blocks/gist/components/gist.js
Labels: Enhancement, UX, [Block] Gist

#710 Highlight block font sizes
  src/blocks/highlight/components/inspector.js
  src/components/typography-controls/attributes.js
Labels: Bug, [Block] Click to Tweet, [Block] Highlight

#764 Add descriptions to Services and Service blocks
  src/blocks/services/index.js
  src/blocks/services/service/index.js
Labels: Gutenberg 6.3 Compatibility, [Block] Service, [Block] Services

#703 Fix gist URL to single file
  src/blocks/gist/edit.js
Labels: [Block] Gist

#711 fix Alert block transform to Paragraph block
  src/blocks/alert/transforms.js
Labels: Bug, [Block] Alert

#732 Fix Resizer UI for Hero Block
  src/blocks/hero/edit.js
Labels: Bug, UI, [Block] Hero

#741 fix DimensionsControl for Gutenberg 6.2 and 6.3
  src/components/dimensions-control/dimensions-select.js
  src/components/dimensions-control/index.js
  src/components/dimensions-control/styles/editor.scss
Labels: Bug, UI, UX

#792 Add missing styles for <Gutenberg 6.3 inline form
  src/blocks/social-profiles/styles/editor.scss
Labels: [Block] Social Profiles

#788 Remove i18n strings, clean up .pot file
  languages/coblocks.pot
  src/blocks/accordion/accordion-item/index.js
  src/blocks/accordion/index.js
  src/blocks/alert/index.js
  src/blocks/author/index.js
  src/blocks/buttons/index.js
  src/blocks/click-to-tweet/index.js
  src/blocks/dynamic-separator/index.js
  src/blocks/features/index.js
  src/blocks/gif/edit.js
  src/blocks/gif/index.js
  src/blocks/gist/index.js
  src/blocks/highlight/index.js
  src/blocks/icon/index.js
  src/blocks/media-card/index.js
  src/blocks/pricing-table/index.js
  src/blocks/pricing-table/pricing-table-item/edit.js
  src/blocks/pricing-table/pricing-table-item/index.js
  src/blocks/row/layouts.js
  src/blocks/services/edit.js
  src/blocks/shape-divider/index.js
  src/blocks/share/index.js
Labels: cleanup

#719 Add CoBlocks::is_amp() method and short-circuit frontend_scripts on AMP responses
  class-coblocks.php
  includes/class-coblocks-block-assets.php
Labels: enhancement

#775 Change Default Type of Content Attribute for CTT block
  src/blocks/click-to-tweet/block.json
Labels: [Block] Click to Tweet, bug

#777 Fix Paragraph transform to Alert Block
  src/blocks/alert/block.json
  src/blocks/alert/transforms.js
Labels: [Block] Alert, bug

#790 i18n updates, add language stubs, update .po files from .pot
  .dev/bin/update-po.sh
  .gitignore
  gruntfile.js
  languages/coblocks-da_DK.po
  languages/coblocks-de_DE.po
  languages/coblocks-el.po
  languages/coblocks-es_ES.po
  languages/coblocks-es_MX.po
  languages/coblocks-fi.po
  languages/coblocks-fr_FR.po
  languages/coblocks-hi_IN.po
  languages/coblocks-id_ID.po
  languages/coblocks-it_IT.po
  languages/coblocks-ja.po
  languages/coblocks-ko.po
  languages/coblocks-mr.po
  languages/coblocks-ms_MY.po
  languages/coblocks-nb_NO.po
  languages/coblocks-nl_NL.po
  languages/coblocks-pl_PL.po
  languages/coblocks-pt_BR.po
  languages/coblocks-pt_PT.po
  languages/coblocks-ru_RU.po
  languages/coblocks-sr_RS.po
  languages/coblocks-sv_SE.po
  languages/coblocks-th.po
  languages/coblocks-tl.po
  languages/coblocks-tr_TR.po
  languages/coblocks-uk.po
  languages/coblocks-vi.po
  languages/coblocks-zh_CN.po
  languages/coblocks-zh_TW.po
  package-lock.json
  package.json
Labels: accessibility

#793 Introduce script to deploy translations to Glotpress
  .dev/tests/cypress/integration/deploy-translations.js
  .dev/tests/cypress/plugins/index.js
  .dev/tests/cypress/support/commands.js
  .gitignore
  cypress.json
  package-lock.json
  package.json
Labels: accessibility

#769 Fix Features block alignment issue
  src/blocks/features/styles/editor.scss
Labels: [Block] Features

#684 Add check for pricing table items
  src/blocks/pricing-table/pricing-table-item/save.js
Labels: enhancement

#798 Fix resizable box focus
  src/blocks/gallery-carousel/edit.js
  src/blocks/gif/edit.js
  src/blocks/hero/edit.js
  src/blocks/icon/edit.js
  src/blocks/map/edit.js
  src/blocks/row/column/edit.js
  src/blocks/shape-divider/edit.js
Labels: bug, gutenberg plugin

#803 Add proper focus style for Food Item attributes
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/food-item/styles/style.scss
Labels: [Block] Food & Drinks, accessibility

#804 Improve Author block icon and description
  src/blocks/author/icon.js
  src/blocks/author/index.js
Labels: cleanup

#800 update margin css for orientation component
  src/components/orientation/styles/editor.scss
Labels: UI, [Block] Shape Divider

#794 change icon size selctor from button with popout to a select element
  src/blocks/icon/icon-size-select.js
  src/blocks/icon/inspector.js
  src/blocks/icon/styles/editor.scss
Labels: [Block] Icon, do not merge

#801 Add proper description to the Highlight block
  src/blocks/highlight/index.js
Labels: cleanup

#776 Add alignment options to Stacked Block
  src/blocks/gallery-stacked/index.js
  src/blocks/gallery-stacked/styles/editor.scss
  src/blocks/gallery-stacked/styles/style.scss
  src/components/block-gallery/styles/editor.scss
Labels: [Block] Stacked, enhancement

#774 Fix SVG CSS Author Block
  src/blocks/author/styles/editor.scss
Labels: [Block] Author, bug

#805 Export category for block registrations
  src/blocks.js
  src/blocks/accordion/accordion-item/index.js
  src/blocks/accordion/block.json
  src/blocks/accordion/index.js
  src/blocks/alert/index.js
  src/blocks/author/index.js
  src/blocks/buttons/index.js
  src/blocks/click-to-tweet/index.js
  src/blocks/dynamic-separator/index.js
  src/blocks/features/feature/index.js
  src/blocks/features/index.js
  src/blocks/food-and-drinks/food-item/index.js
  src/blocks/food-and-drinks/index.js
  src/blocks/form/index.js
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-stacked/index.js
  src/blocks/gif/index.js
  src/blocks/gist/index.js
  src/blocks/hero/index.js
  src/blocks/highlight/index.js
  src/blocks/icon/index.js
  src/blocks/logos/index.js
  src/blocks/map/index.js
  src/blocks/media-card/index.js
  src/blocks/pricing-table/index.js
  src/blocks/pricing-table/pricing-table-item/index.js
  src/blocks/row/column/index.js
  src/blocks/row/index.js
  src/blocks/services/index.js
  src/blocks/services/service/index.js
  src/blocks/shape-divider/index.js
Labels: cleanup

#770 Add fix for social styles component to display correctly in G 6.3+
  src/blocks/share/edit.js
  src/blocks/share/index.php
  src/blocks/share/styles/editor.scss
Labels: [Block] Social Profiles, gutenberg plugin

#755 add css to correctly adjust padding for CoBlocks custom style buttons
  src/blocks/services/styles/editor.scss
Labels: [Block] Food & Drinks, [Block] Services, gutenberg plugin

#761 Add blockBackgroundColor attribute to Social Profiles and Share blocks
  .dev/tests/phpunit/src/blocks/social/test-index.php
  src/blocks/share/colors.js
  src/blocks/share/edit.js
  src/blocks/share/index.js
  src/blocks/share/index.php
  src/blocks/share/inspector.js
  src/blocks/share/styles/editor.scss
  src/blocks/share/styles/style.scss
  src/blocks/social-profiles/colors.js
  src/blocks/social-profiles/edit.js
  src/blocks/social-profiles/index.js
  src/blocks/social-profiles/index.php
  src/blocks/social-profiles/inspector.js
  src/styles/style.scss
Labels: [Block] Share, [Block] Social Profiles, enhancement
