Repository godaddy-wordpress/coblocks, pull requests merged in 2019-09, with the labels that each got.

#795 Specificity audit: Alert/Accordion block
  src/blocks/accordion/accordion-item/styles/editor.scss
  src/blocks/accordion/accordion-item/styles/style.scss
  src/blocks/accordion/edit.js
  src/blocks/accordion/styles/editor.scss
  src/blocks/alert/index.js
  src/blocks/alert/inspector.js
  src/blocks/alert/styles/editor.scss
  src/blocks/alert/styles/style.scss
  src/styles/editor/core/_mixins.scss
Labels: cleanup

#707 Add cancel button to Map block
  src/blocks/map/edit.js
  src/blocks/map/styles/editor.scss
Labels: [Block] Map, enhancement

#815 Improve Icon block custom size UI
  src/blocks/icon/inspector.js
Labels: UX, [Block] Icon

#824 Fix Hero white-screen when deprecating
  src/blocks/features/edit.js
  src/blocks/features/feature/edit.js
  src/blocks/features/feature/save.js
  src/blocks/features/save.js
  src/blocks/hero/deprecated.js
  src/blocks/hero/edit.js
  src/blocks/hero/save.js
  src/blocks/media-card/edit.js
  src/blocks/media-card/save.js
  src/blocks/row/column/edit.js
  src/blocks/row/column/save.js
  src/blocks/row/edit.js
  src/blocks/row/save.js
  src/blocks/shape-divider/edit.js
  src/blocks/shape-divider/save.js
Labels: [Block] Hero, bug

#810 Add example block content
  dist/images/examples/author.jpg
  dist/images/examples/gallery-1.jpg
  dist/images/examples/gallery-2.jpg
  dist/images/examples/gallery-3.jpg
  dist/images/examples/gallery-4.jpg
  dist/images/examples/gallery-5.jpg
  dist/images/examples/gallery-6.jpg
  dist/images/examples/gallery-7.jpg
  dist/images/examples/logo-1.jpg
  dist/images/examples/logo-2.jpg
  src/blocks/alert/index.js
  src/blocks/author/index.js
  src/blocks/author/styles/editor.scss
  src/blocks/click-to-tweet/index.js
  src/blocks/dynamic-separator/index.js
  src/blocks/features/index.js
  src/blocks/features/styles/editor.scss
  src/blocks/form/index.js
  src/blocks/form/styles/editor.scss
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-carousel/styles/editor.scss
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-masonry/styles/editor.scss
  src/blocks/gallery-stacked/index.js
  src/blocks/gallery-stacked/styles/editor.scss
  src/blocks/highlight/index.js
  src/blocks/icon/index.js
  src/blocks/icon/styles/editor.scss
  src/blocks/logos/index.js
  src/blocks/map/index.js
  src/blocks/media-card/index.js
  src/blocks/media-card/styles/editor.scss
  src/blocks/pricing-table/index.js
  src/blocks/services/index.js
  src/blocks/services/service/index.js
  src/blocks/shape-divider/index.js
  src/blocks/shape-divider/styles/editor.scss
  src/blocks/share/index.js
  src/blocks/share/styles/editor.scss
  src/blocks/social-profiles/index.js
Labels: enhancement

#709 add logic to maintain consistent placeholders for food-and-drinks block
  src/blocks/food-and-drinks/food-item/edit.js
Labels: [Block] Food & Drinks, bug

#812 Tweak block descriptions for Pricing & Social Profiles
  src/blocks/pricing-table/index.js
  src/blocks/pricing-table/pricing-table-item/index.js
  src/blocks/social-profiles/index.js
Labels: cleanup

#809 Fix missing innerBlocks template when adding the Hero block from inserter
  src/blocks/hero/deprecated.js
  src/blocks/hero/edit.js
  src/blocks/hero/index.js
  src/components/background/classes.js
  src/extensions/attributes/index.js
Labels: [Block] Hero

#763 Apply proper spacing for nested blocks
  src/blocks/features/styles/editor.scss
  src/blocks/features/styles/style.scss
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/styles/editor.scss
  src/blocks/form/styles/editor.scss
  src/blocks/pricing-table/controls.js
  src/blocks/pricing-table/pricing-table-item/index.js
  src/blocks/pricing-table/pricing-table-item/styles/editor.scss
  src/blocks/pricing-table/pricing-table-item/styles/style.scss
  src/blocks/pricing-table/styles/editor.scss
  src/blocks/pricing-table/styles/style.scss
  src/blocks/services/service/styles/editor.scss
  src/blocks/services/styles/editor.scss
  src/styles/style.scss
Labels: [Block] Features, [Block] Food & Drinks, [Block] Form, [Block] Pricing Table, [Block] Services, gutenberg plugin

#807 Unique key added to GridControl Tooltips
  src/components/grid-control/index.js
Labels: [Block] Hero, bug

#828 Remove panel for layout styles in block inspector
  src/blocks/row/inspector.js
Labels: UI, [Block] Row

#830 Add changelog
  changelog.txt
  readme.txt
Labels: cleanup

#829 Update examples with images from Pexels
  dist/images/examples/author.jpg
  dist/images/examples/gallery-1.jpg
  dist/images/examples/gallery-2.jpg
  dist/images/examples/gallery-3.jpg
  dist/images/examples/gallery-4.jpg
  dist/images/examples/gallery-5.jpg
  dist/images/examples/gallery-6.jpg
  dist/images/examples/gallery-7.jpg
  dist/images/examples/logo-1.jpg
  dist/images/examples/logo-2.jpg
  src/blocks/gallery-stacked/index.js
Labels: cleanup

#831 Fix layout toolbar display Hero block
  src/components/grid-control/toolbar.js
Labels: UI, [Block] Hero

#825 Social share icons auto center
  src/blocks/share/edit.js
  src/blocks/social-profiles/edit.js
Labels: [Block] Share, [Block] Social Profiles, enhancement

#833 Convert Alert class is-{type}-alert to is-style-{type}
  src/blocks/alert/edit.js
  src/blocks/alert/index.js
  src/blocks/alert/styles/editor.scss
  src/blocks/alert/styles/style.scss
  src/common.scss
Labels: [Block] Alert

#877 Add waves masks on images feature
  src/blocks.js
  src/extensions/image-styles/index.js
  src/extensions/image-styles/styles/style.scss
Labels: enhancement

#879 Fix icon preview SVG size
  src/blocks/icon/styles/editor.scss
Labels: bug

#844 Add proper support for singular pricing tables
  src/blocks/pricing-table/styles/style.scss
Labels: [Block] Pricing Table

#835 Adding the groundwork for testing block deprecation with Jest.
  .circleci/config.yml
  .dev/config/externals.js
  .dev/tests/jest/helpers.js
  .dev/tests/jest/jest.config.js
  .dev/tests/jest/setup-globals.js
  .dev/tests/jest/styleMock.js
  package-lock.json
  package.json
  src/blocks/hero/colors.js
  src/blocks/hero/controls.js
  src/blocks/hero/deprecated.js
  src/blocks/hero/edit.js
  src/blocks/hero/icons.js
  src/blocks/hero/index.js
  src/blocks/hero/inspector.js
  src/blocks/hero/layouts.js
  src/blocks/hero/save.js
  src/blocks/hero/test/__snapshots__/edit.spec.js.snap
  src/blocks/hero/test/__snapshots__/save.spec.js.snap
  src/blocks/hero/test/deprecated.spec.js
  src/blocks/hero/test/edit.spec.js
  src/blocks/hero/test/save.spec.js
  src/blocks/hero/test/transforms.spec.js
  src/blocks/hero/transforms.js
  src/blocks/highlight/colors.js
  src/blocks/highlight/controls.js
  src/blocks/highlight/edit.js
  src/blocks/highlight/index.js
  src/blocks/highlight/inspector.js
  src/blocks/highlight/save.js
  src/blocks/highlight/test/__snapshots__/edit.spec.js.snap
  src/blocks/highlight/test/__snapshots__/save.spec.js.snap
  src/blocks/highlight/test/edit.spec.js
  src/blocks/highlight/test/save.spec.js
  src/blocks/highlight/test/transforms.spec.js
  src/blocks/highlight/transforms.js
  src/components/background/classes.js
  src/components/background/controls.js
  src/components/background/dropzone.js
  src/components/background/icons.js
  src/components/background/panel.js
  src/components/background/styles.js
  src/components/dimensions-control/dimensions-select.js
  src/components/dimensions-control/index.js
  src/components/grid-control/index.js
  src/components/grid-control/toolbar.js
  src/components/responsive-base-control/index.js
  src/components/responsive-tabs-control/index.js
Labels: [Block] Hero, [Block] Highlight, [Testing] Jest, enhancement

#834 Introduce a filter to prevent wp_mail from firing in the form block
  includes/class-coblocks-form.php
Labels: [Block] Form

#746 move CoBlocks menu page to Tools
  .dev/tests/phpunit/includes/admin/test-coblocks-getting-started-page.php
  includes/admin/class-coblocks-feedback.php
  includes/admin/class-coblocks-getting-started-page.php
Labels: cleanup

#845 Remove margin bottom on the last item within the Feature block
  src/blocks/features/styles/style.scss
Labels: [Block] Feature

#878 Use shorter placeholder text
  src/blocks/hero/edit.js
Labels: UX, [Block] Hero

#846 Add space between figure and content on the Services block
  src/blocks/services/service/styles/editor.scss
  src/blocks/services/service/styles/style.scss
Labels: [Block] Services

#749 Add advanced image options
  .gitignore
  class-coblocks.php
  includes/admin/class-coblocks-crop-settings.php
  src/blocks.js
  src/components/crop-settings/crop-control.js
  src/components/crop-settings/icons.js
  src/components/crop-settings/index.js
  src/components/crop-settings/original-image.js
  src/components/crop-settings/styles/editor.scss
  src/extensions/image-crop/index.js
  src/extensions/image-crop/styles/editor.scss
Labels: HMT, enhancement

#765 Add enhanced Flickity options to the Carousel block
  .dev/bin/update-po.sh
  src/blocks/gallery-carousel/block.json
  src/blocks/gallery-carousel/deprecated.js
  src/blocks/gallery-carousel/edit.js
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-carousel/save.js
  src/components/block-gallery/styles/style/_carousel.scss
  src/components/slider-panel/index.js
Labels: enhancement

#890 Resolves ESLint issues introduced with the new Crop Control component.
  src/components/crop-settings/crop-control.js
  src/components/crop-settings/index.js
Labels: bug

#838 Change z-index to 60 for hero block controls.
  src/blocks/hero/styles/editor.scss
Labels: UI, [Block] Hero, bug

#808 Improve Author block, adding colors/font sizes and cleanup
  src/blocks/author/block.json
  src/blocks/author/controls.js
  src/blocks/author/deprecated.js
  src/blocks/author/edit.js
  src/blocks/author/index.js
  src/blocks/author/inspector.js
  src/blocks/author/save.js
  src/blocks/author/styles/editor.scss
  src/blocks/author/styles/style.scss
Labels: enhancement

#811 Update Pricing Table controls to use Gutenberg patterns
  src/blocks/pricing-table/controls.js
  src/blocks/pricing-table/edit.js
  src/blocks/pricing-table/inspector.js
  src/blocks/pricing-table/pricing-table-item/styles/style.scss
  src/blocks/pricing-table/styles/editor.scss
  src/styles/editor.scss
  src/styles/editor/_numerals-control.scss
Labels: [Block] Pricing Table, enhancement

#820 Center SVGs for responsive-tabs-control component
  src/components/responsive-tabs-control/styles/editor.scss
Labels: UI, bug

#827 Add Row block layout selector dropdown
  src/blocks/row/controls.js
  src/blocks/row/icons.js
  src/blocks/row/layouts.js
Labels: UI, [Block] Row

#840 Add lightbox support to masonry and stacked galleries
  dist/images/lightbox/arrow-left.svg
  dist/images/lightbox/arrow-right.svg
  dist/images/lightbox/close.svg
  includes/class-coblocks-block-assets.php
  src/blocks/gallery-carousel/deprecated.js
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-masonry/deprecated.js
  src/blocks/gallery-masonry/edit.js
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-masonry/inspector.js
  src/blocks/gallery-masonry/save.js
  src/blocks/gallery-masonry/styles/editor.scss
  src/blocks/gallery-masonry/styles/style.scss
  src/blocks/gallery-stacked/deprecated.js
  src/blocks/gallery-stacked/edit.js
  src/blocks/gallery-stacked/index.js
  src/blocks/gallery-stacked/inspector.js
  src/blocks/gallery-stacked/save.js
  src/components/block-gallery/shared/attributes.js
  src/components/block-gallery/shared/transforms.js
  src/components/block-gallery/styles/style.scss
  src/components/block-gallery/styles/style/_lightbox.scss
  src/js/coblocks-lightbox.js
Labels: HMT, [Block] Masonry, [Block] Stacked, [Type] Enhancement

#839 Add thumbnail and responsive height controls to the Carousel block
  src/blocks/gallery-carousel/edit.js
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-carousel/inspector.js
  src/blocks/gallery-carousel/save.js
  src/blocks/gallery-carousel/styles/editor.scss
  src/blocks/gallery-carousel/styles/style.scss
  src/components/block-gallery/styles/editor/_flickity-arrows.scss
Labels: HMT, [Type] Enhancement

#911 Remove screenshot
  .wordpress-org/screenshot-4.gif
  README.md
  readme.txt
Labels: cleanup

#912 Add coBlocksSpacing to galleries
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-stacked/index.js
  src/components/block-gallery/shared/transforms.js
Labels: [Type] Enhancement

#906 Fix background image upload error
  src/components/background/dropzone.js
Labels: UX

#913 Remove background color and image support from gallery blocks
  src/blocks/gallery-carousel/controls.js
  src/blocks/gallery-carousel/deprecated.js
  src/blocks/gallery-carousel/edit.js
  src/blocks/gallery-carousel/index.js
  src/blocks/gallery-carousel/inspector.js
  src/blocks/gallery-carousel/save.js
  src/blocks/gallery-carousel/styles/editor.scss
  src/blocks/gallery-carousel/transforms.js
  src/blocks/gallery-masonry/controls.js
  src/blocks/gallery-masonry/deprecated.js
  src/blocks/gallery-masonry/edit.js
  src/blocks/gallery-masonry/index.js
  src/blocks/gallery-masonry/inspector.js
  src/blocks/gallery-masonry/save.js
  src/blocks/gallery-masonry/styles/editor.scss
  src/blocks/gallery-masonry/transforms.js
  src/blocks/gallery-stacked/controls.js
  src/blocks/gallery-stacked/deprecated.js
  src/blocks/gallery-stacked/edit.js
  src/blocks/gallery-stacked/index.js
  src/blocks/gallery-stacked/inspector.js
  src/blocks/gallery-stacked/save.js
  src/blocks/gallery-stacked/styles/editor.scss
  src/blocks/gallery-stacked/transforms.js
  src/components/block-gallery/shared/classes.js
  src/components/block-gallery/styles/style.scss
Labels: UX

#836 Trigger display of the add accordion item button with isSelected
  src/blocks/accordion/accordion-item/styles/editor.scss
  src/blocks/accordion/edit.js
  src/blocks/accordion/styles/editor.scss
Labels: UX, [Block] Accordion

#897 convert Share block to use alignment classnames
  src/blocks/share/edit.js
  src/blocks/share/index.php
Labels: [Block] Share, cleanup

#880 convert Alert block to use alignment classnames
  src/blocks/alert/deprecated.js
  src/blocks/alert/edit.js
  src/blocks/alert/save.js
Labels: [Block] Alert, cleanup

#881 convert Click-to-Tweet block to use alignment classnames
  src/blocks/click-to-tweet/deprecated.js
  src/blocks/click-to-tweet/edit.js
  src/blocks/click-to-tweet/index.js
  src/blocks/click-to-tweet/save.js
Labels: [Block] Click to Tweet, cleanup

#884 convert Row block to use alignment classnames
  src/blocks/row/column/deprecated.js
  src/blocks/row/column/edit.js
  src/blocks/row/column/save.js
Labels: [Block] Row, cleanup
