Repository godaddy-wordpress/coblocks, pull requests merged in 2019-02, with the labels that each got.

#200 Add Link Settings PanelBody to the Icon Block
  src/blocks/icon/components/inspector.js
  src/blocks/icon/index.js
  src/blocks/icon/styles/style.scss
Labels: Enhancement, [Block] Icon

#201 Update BackgroundImage component to easily auto-add padding
  src/components/background/controls.js
  src/components/background/dropzone.js
  src/components/background/index.js
  src/components/background/panel.js
Labels: Enhancement

#205 Add Features Block 🔥🔥
  src/blocks.js
  src/blocks/features/components/colors.js
  src/blocks/features/components/controls.js
  src/blocks/features/components/edit.js
  src/blocks/features/components/icons.js
  src/blocks/features/components/inspector.js
  src/blocks/features/feature/components/colors.js
  src/blocks/features/feature/components/controls.js
  src/blocks/features/feature/components/edit.js
  src/blocks/features/feature/components/icons.js
  src/blocks/features/feature/components/inspector.js
  src/blocks/features/feature/index.js
  src/blocks/features/index.js
  src/blocks/features/styles/editor.scss
  src/blocks/features/styles/style.scss
  src/extensions/attributes/index.js
  src/styles/style/_gutter.scss
  src/utils/icons.js
Labels: New Block, [Block] Feature

#209 Shape Divider tweaks
  src/blocks/shape-divider/index.js
  src/blocks/shape-divider/styles/style.scss
Labels: [Block] Shape Divider

#214 Remove the background from the Inserter Block
  class-coblocks.php
  includes/admin/class-coblocks-dashboard-columns.php
  includes/admin/class-coblocks-dashboard-tabs.php
  includes/admin/class-coblocks-dashboard-widget.php
  includes/admin/class-coblocks-duplicate-template.php
  includes/class-coblocks-modal.php
  includes/class-coblocks-post-type.php
  includes/class-coblocks-template-loader.php
  includes/sections/attorney-hero/content.txt
  includes/sections/attorney-hero/screenshot.jpg
  includes/sections/attorney-hero/section.txt
  includes/template-inserter-ajax.php
  includes/templates/model-1/content.txt
  includes/templates/model-1/screenshot.jpg
  includes/templates/model-1/template.txt
  package-lock.json
  package.json
  src/blocks.js
  src/blocks/inserter/components/api.js
  src/blocks/inserter/components/edit.js
  src/blocks/inserter/index.js
  src/blocks/inserter/styles/editor.scss
  src/blocks/inserter/styles/frame.scss
  src/js/coblocks-modal.js
  src/styles/admin.scss
  src/styles/admin/_dashboard-columns.scss
  src/styles/admin/_dashboard-widget.scss
  src/styles/admin/_mixins.scss
  src/styles/admin/_modal-frame.scss
  src/styles/admin/_modal.scss
  src/styles/admin/_notices.scss
  src/styles/admin/_template-count.scss
  src/styles/admin/_tooltips.scss
Labels: [Block] Inserter

#216 Remove the background from the Inserter block icon
  src/blocks/inserter/index.js
Labels: [Block] Inserter

#233 Refactoring UI for the Block Manager sidebar
  src/blocks.js
  src/blocks/layout/components/edit.js
  src/blocks/layout/styles/editor.scss
  src/sidebars/block-manager/components/modal.js
  src/sidebars/block-manager/components/options/disable-blocks.js
  src/sidebars/block-manager/index.js
  src/sidebars/block-manager/styles/editor.scss
  src/sidebars/disable-blocks/styles/editor.scss
  src/styles/editor.scss
  src/utils/brand-assets.js
Labels: Block Manager

#257 Fix Gutenberg 5.0 ResponsiveBaseControl and OrientationControl
  src/components/dimensions-control/index.js
  src/components/dimensions-control/styles/editor.scss
  src/components/orientation/styles/editor.scss
Labels: Bug, UI

#262 Update GitHub links to the new organization
  CONTRIBUTING.md
  README.md
  readme.txt
Labels: Cleanup

#291 ID filter fix for #290
  readme.txt
  src/extensions/attributes/index.js
Labels: Bug

#304 Fix the BackgroundImageToolbarControls issue from the singular column Row block
  src/blocks/row/components/controls.js
Labels: [Block] Row

#313 Introduce the new Buttons block
  src/blocks.js
  src/blocks/buttons/components/controls.js
  src/blocks/buttons/components/edit.js
  src/blocks/buttons/components/icons.js
  src/blocks/buttons/components/inspector.js
  src/blocks/buttons/index.js
  src/blocks/buttons/styles/editor.scss
  src/blocks/buttons/styles/style.scss
Labels: Enhancement, New Block, [Block] Buttons

#337 Social block li::before fix
  src/blocks/social/styles/editor.scss
  src/blocks/social/styles/style.scss
Labels: Bug, [Block] Social

#352 Tweak UI for the Hero block CSS grid toolbar control
  src/components/grid-control/index.js
  src/components/grid-control/styles/editor.scss
Labels: UI, [Block] Hero

#346 Add inline ColorPalette control to the Shape Divider
  src/blocks/shape-divider/components/edit.js
  src/blocks/shape-divider/components/inspector.js
  src/blocks/shape-divider/styles/editor.scss
Labels: Enhancement, [Block] Shape Divider

#350 Tweak icon for "Add Background Image" toolbar control
  src/utils/icons.js
Labels: UI

#351 Update colors for the admin feedback notice and block icons
  includes/admin/class-coblocks-feedback.php
  src/blocks.js
  src/common.scss
Labels: UI

#357 Disable the custom Row block inserter for layouts
  includes/sections/attorney-hero/content.txt
  src/blocks/row/column/components/edit.js
  src/blocks/row/column/index.js
Labels: Enhancement, [Block] Layout, [Block] Row

#356 Buttons block fixes
  src/blocks/buttons/styles/style.scss
Labels: [Block] Buttons
