Repository godaddy-wordpress/coblocks, pull requests merged in 2020-01, with the labels that each got.

#1242 Fix CoBlocks for Gutenberg 7.2.0: replace legacy editor- classes with block-editor-
  src/blocks/accordion/accordion-item/styles/editor.scss
  src/blocks/accordion/test/accordion.cypress.js
  src/blocks/alert/test/alert.cypress.js
  src/blocks/author/styles/editor.scss
  src/blocks/buttons/styles/editor.scss
  src/blocks/dynamic-separator/styles/editor.scss
  src/blocks/features/styles/editor.scss
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/inspector.js
  src/blocks/food-and-drinks/styles/editor.scss
  src/blocks/form/styles/editor.scss
  src/blocks/gallery-carousel/styles/editor.scss
  src/blocks/gallery-collage/styles/editor.scss
  src/blocks/gallery-masonry/styles/editor.scss
  src/blocks/gallery-offset/styles/editor.scss
  src/blocks/gallery-stacked/styles/editor.scss
  src/blocks/gif/styles/editor.scss
  src/blocks/hero/styles/editor.scss
  src/blocks/icon/inspector.js
  src/blocks/icon/styles/editor.scss
  src/blocks/map/inspector.js
  src/blocks/media-card/styles/editor.scss
  src/blocks/posts/inspector.js
  src/blocks/pricing-table/pricing-table-item/styles/editor.scss
  src/blocks/pricing-table/styles/editor.scss
  src/blocks/row/styles/editor.scss
  src/blocks/services/inspector.js
  src/blocks/services/service/styles/editor.scss
  src/blocks/shape-divider/styles/editor.scss
  src/blocks/social-profiles/edit.js
  src/components/block-gallery/styles/editor/_gallery-item.scss
  src/components/visual-dropdown/index.js
  src/components/visual-dropdown/styles/editor.scss
  src/extensions/advanced-controls/styles/editor.scss
  src/extensions/button-controls/styles/editor.scss
  src/extensions/button-styles/index.js
  src/extensions/button-styles/styles/editor.scss
  src/extensions/button-styles/styles/style.scss
  src/extensions/typography/styles/editor.scss
  src/styles/editor.scss
  src/styles/editor/_stacked.scss
Labels: gutenberg plugin

#1218 Improve Media Card block stability through transforms testing
  src/blocks/media-card/test/transforms.spec.js
Labels: [Block] Media Card, [Testing] Jest, [Type] Enhancement

#1243 Fix Resetting Gallery Captions
  src/components/block-gallery/gallery-placeholder.js
Labels: [Block] Masonry Gallery, [Block] Offset Gallery, [Block] Stacked Gallery, [Type] Bug

#1232 Fix the Form block template selector when the Gutenberg plugin is active
  src/blocks/form/edit.js
Labels: [Block] Form, [Type] Bug

#1240 Add change log contents to GitHub release notes
  .dev/bin/deploy-plugin.sh
Labels: CircleCI

#1247 Fix release notes in CircleCI commit
  .dev/bin/deploy-plugin.sh
Labels: CircleCI

#1246 Alphabetize icon block keywords
  src/blocks/icon/deprecated/svgs.js
  src/blocks/icon/svgs.js
Labels: [Type] Code Quality

#1249 revert changes from PR #1239
  src/blocks/gallery-offset/deprecated.js
  src/blocks/gallery-offset/index.js
  src/blocks/gallery-offset/save.js
Labels: [Type] Bug

#1200 Improve Masonry Gallery block stability through transforms testing
  .dev/tests/jest/helpers.js
  src/blocks/gallery-masonry/test/transforms.spec.js
  src/blocks/gallery-masonry/transforms.js
Labels: [Block] Masonry Gallery, [Testing] Jest, [Type] Enhancement

#1213 Improve Pricing Table block stability through transforms testing
  src/blocks/pricing-table/pricing-table-item/test/transforms.spec.js
  src/blocks/pricing-table/pricing-table-item/transforms.js
  src/blocks/pricing-table/test/transforms.spec.js
  src/blocks/pricing-table/transforms.js
Labels: [Block] Pricing Table, [Testing] Jest, [Type] Enhancement

#1214 Improve Map block stability through transforms testing
  src/blocks/map/test/transforms.spec.js
Labels: [Block] Map, [Testing] Jest, [Type] Enhancement

#1231 Improve Post Carousel block stability through transforms testing
  src/blocks/post-carousel/test/transforms.spec.js
Labels: [Block] Post Carousel, [Testing] Jest, [Type] Enhancement

#1233 Improve Posts block stability through transforms testing
  src/blocks/posts/test/transforms.spec.js
Labels: [Block] Posts, [Testing] Jest, [Type] Enhancement

#1234 Improve Row block stability through transforms testing
  src/blocks/row/test/transforms.spec.js
Labels: [Block] Row, [Testing] Jest, [Type] Enhancement

#1236 Improve Shape Divider block stability through transforms testing
  src/blocks/shape-divider/test/transforms.spec.js
Labels: [Block] Shape Divider, [Testing] Jest, [Type] Enhancement

#1237 Improve Share and Social-Profiles block stability through transforms testing
  src/blocks/share/block.json
  src/blocks/share/test/save.spec.js
  src/blocks/social-profiles/test/transforms.spec.js
  src/blocks/social-profiles/transforms.js
Labels: [Block] Share, [Block] Social Profiles, [Testing] Jest, [Type] Enhancement

#1202 Improve Carousel block stability through transforms testing
  src/blocks/gallery-carousel/test/transforms.spec.js
  src/blocks/gallery-carousel/transforms.js
Labels: [Block] Carousel Gallery, [Testing] Jest, [Type] Enhancement

#1203 Improve Offset block stability through transforms testing
  .dev/tests/jest/helpers.js
  src/blocks/gallery-offset/test/transforms.spec.js
  src/blocks/gallery-offset/transforms.js
Labels: [Block] Offset Gallery, [Testing] Jest, [Type] Enhancement

#1255 Set Features block max count to four
  src/blocks/features/inspector.js
Labels: [Block] Features, [Type] Enhancement

#1256 Add huge setting to the Features block gutter control
  src/blocks/features/inspector.js
Labels: [Block] Features, [Type] Enhancement

#1257 Canary release
  .circleci/config.yml
Labels: [Type] Build Tooling

#1263 Bundle languages in the canary package
  .circleci/config.yml
Labels: [Type] Build Tooling

#1260 Remove the separate utilities stylesheet
  README.md
  includes/class-coblocks-block-assets.php
Labels: cleanup

#1271 Removed unused class from Accordion controls
  src/blocks/accordion/accordion-item/controls.js
Labels: cleanup

#1250 Fix custom links added to images in the Offset Gallery block redux
  src/blocks/gallery-offset/deprecated.js
  src/blocks/gallery-offset/save.js
Labels: [Block] Offset Gallery, [Type] Bug

#1261 E2E Compatibility Refactor
  .dev/tests/cypress/helpers.js
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
  src/blocks/accordion/test/accordion.cypress.js
  src/blocks/alert/test/alert.cypress.js
  src/blocks/highlight/test/highlight.cypress.js
Labels: [Testing] Cypress, [Type] Enhancement, gutenberg plugin

#1294 Pass block name to custom class helper
  src/blocks/highlight/test/highlight.cypress.js
Labels: [Testing] Cypress

#1241 When the core/buttons block is registered, migrate from the coblocks/buttons block
  gruntfile.js
  includes/class-coblocks-block-assets.php
  src/blocks.js
  src/blocks/buttons/edit.js
  src/blocks/hero/edit.js
  src/js/deprecations/deprecate-coblocks-buttons.js
Labels: [Block] Buttons, [Type] Bug, gutenberg plugin

#1262 Fix Gallery blocks when uploading images
  src/components/block-gallery/gallery-placeholder.js
Labels: [Block] Masonry Gallery, [Block] Offset Gallery, [Block] Stacked Gallery, [Type] Bug

#1259 Remove Typography controls from the core Cover block
  src/components/typography-controls/index.js
  src/extensions/typography/controls.js
  src/extensions/typography/index.js
Labels: UX

#1281 Switch DimensionsControls padding and margin
  src/blocks/features/inspector.js
  src/blocks/row/column/inspector.js
  src/blocks/row/inspector.js
Labels: UX

#1292 Fix template selector in the Form block when Gutenberg is active
  src/blocks/form/deprecatedTemplates/layouts.js
  src/blocks/form/edit.js
  src/blocks/form/index.js
  src/blocks/form/patterns.js
Labels: [Block] Form, [Type] Bug, gutenberg plugin

#883 Introduce the Events block 🎉
  class-coblocks.php
  includes/class-coblocks-block-assets.php
  includes/ical-parser/class-coblocks-event.php
  includes/ical-parser/class-coblocks-ical.php
  phpcs.xml
  src/blocks.js
  src/blocks/events/appender.js
  src/blocks/events/block.json
  src/blocks/events/edit.js
  src/blocks/events/event-item/block.json
  src/blocks/events/event-item/colors.js
  src/blocks/events/event-item/edit.js
  src/blocks/events/event-item/icon.js
  src/blocks/events/event-item/index.js
  src/blocks/events/event-item/inspector.js
  src/blocks/events/event-item/save.js
  src/blocks/events/event-item/styles/style.scss
  src/blocks/events/icon.js
  src/blocks/events/index.js
  src/blocks/events/index.php
  src/blocks/events/inspector.js
  src/blocks/events/save.js
  src/blocks/events/styles/editor.scss
  src/blocks/events/styles/style.scss
  src/blocks/events/transforms.js
  src/js/coblocks-events.js
Labels: HMT, New Block

#1299 Remove typography controls from Features block
  src/components/typography-controls/index.js
Labels: UX

#1300 Tweak Map block "Edit location" icon
  src/blocks/map/controls.js
  src/utils/icons.js
Labels: UX

#1272 Add support for Gutenberg 7.2
  src/blocks/author/styles/style.scss
  src/blocks/features/styles/legacy.scss
  src/blocks/food-and-drinks/food-item/edit.js
  src/blocks/food-and-drinks/food-item/styles/editor.scss
  src/blocks/food-and-drinks/styles/editor.scss
  src/blocks/form/edit.js
  src/blocks/form/styles/editor.scss
  src/blocks/gallery-collage/styles/editor.scss
  src/blocks/gallery-offset/inspector.js
  src/blocks/gif/edit.js
  src/blocks/gif/styles/editor.scss
  src/blocks/hero/styles/editor.scss
  src/blocks/icon/inspector.js
  src/blocks/icon/styles/editor.scss
  src/blocks/map/controls.js
  src/blocks/map/edit.js
  src/blocks/map/inspector.js
  src/blocks/map/styles/editor.scss
  src/blocks/post-carousel/edit.js
  src/blocks/post-carousel/styles/editor.scss
  src/blocks/posts/edit.js
  src/blocks/posts/inspector.js
  src/blocks/posts/styles/editor.scss
  src/blocks/row/edit.js
  src/blocks/row/inspector.js
  src/blocks/row/styles/editor.scss
  src/blocks/services/inspector.js
  src/blocks/services/service/styles/editor.scss
  src/components/background/panel.js
  src/components/background/styles/editor.scss
  src/components/crop-settings/index.js
  src/components/dimensions-control/index.js
  src/components/dimensions-control/styles/editor.scss
  src/components/grid-control/index.js
  src/components/grid-control/styles/editor.scss
  src/components/grid-control/toolbar.js
  src/components/heading-toolbar/icon.js
  src/components/heading-toolbar/index.js
  src/components/option-selector-control/index.js
  src/components/responsive-base-control/index.js
  src/components/responsive-base-control/styles/editor.scss
  src/components/responsive-tabs-control/index.js
  src/components/responsive-tabs-control/styles/editor.scss
  src/components/size-control/index.js
  src/components/visual-dropdown/index.js
  src/components/visual-dropdown/styles/editor.scss
Labels: [Type] Enhancement, gutenberg plugin

#1270 Improve Shape Divider block stability through E2E testing
  .dev/tests/cypress/helpers.js
  .eslintrc.json
  src/blocks/shape-divider/test/shape-divider.cypress.js
Labels: [Block] Shape Divider, [Testing] Cypress, [Type] Enhancement

#1273 Improve Pricing Table block stability through E2E testing
  .dev/tests/cypress/helpers.js
  src/blocks/pricing-table/pricing-table-item/test/pricing-table-item.cypress.js
  src/blocks/pricing-table/test/pricing-table.cypress.js
Labels: [Block] Pricing Table, [Testing] Cypress, [Type] Enhancement

#1289 Improve Gif block stability through E2E testing
  .dev/tests/cypress/helpers.js
  src/blocks/gif/test/gif.cypress.js
Labels: [Block] Gif, [Testing] Cypress, [Type] Enhancement

#1288 Improve Gist block stability through E2E testing
  src/blocks/gist/save.js
  src/blocks/gist/test/gist.cypress.js
Labels: [Block] Gist, [Testing] Cypress, [Type] Enhancement

#1287 Improve Hero block stability through E2E testing
  src/blocks/hero/test/hero.cypress.js
Labels: [Block] Hero, [Testing] Cypress, [Type] Enhancement

#1286 Improve Logos block stability through E2E testing
  src/blocks/logos/test/logos.cypress.js
Labels: [Block] Logos & Badges, [Testing] Cypress, [Type] Enhancement

#1284 Improve Media Card block stability through E2E testing
  src/blocks/media-card/test/media-card.cypress.js
Labels: [Block] Media Card, [Testing] Cypress, [Type] Enhancement

#1285 Improve Map block stability through E2E testing
  src/blocks/map/test/map.cypress.js
Labels: [Block] Map, [Testing] Cypress, [Type] Enhancement

#1283 Improve Post Carousel block stability through E2E testing
  src/blocks/post-carousel/test/post-carousel.cypress.js
Labels: [Block] Post Carousel, [Testing] Cypress, [Type] Enhancement

#1282 Improve Posts block stability through E2E testing
  src/blocks/posts/test/posts.cypress.js
Labels: [Block] Posts, [Testing] Cypress, [Type] Enhancement

#1293 Improve Buttons block stability through E2E testing
  src/blocks/buttons/test/buttons.cypress.js
Labels: [Block] Buttons, [Testing] Cypress, [Type] Enhancement

#1295 Improve Click to Tweet block stability through E2E testing
  src/blocks/click-to-tweet/test/click-to-tweet.cypress.js
Labels: [Block] Click to Tweet, [Testing] Cypress, [Type] Enhancement

#1297 Improve Form block stability through E2E testing
  src/blocks/form/test/form.cypress.js
Labels: [Block] Form, [Testing] Cypress, [Type] Enhancement

#1298 Improve Icon block stability through E2E testing
  src/blocks/icon/test/icon.cypress.js
Labels: [Block] Icon, [Testing] Cypress, [Type] Enhancement

#1301 Improve Share block stability through E2E testing
  src/blocks/share/test/share.cypress.js
Labels: [Block] Share, [Testing] Cypress, [Type] Enhancement

#1304 Improve Social Profiles block stability through E2E testing
  src/blocks/social-profiles/test/social-profiles.cypress.js
Labels: [Block] Social Profiles, [Testing] Cypress, [Type] Enhancement

#1306 Improve Events block stability through E2E testing
  .dev/tests/cypress/helpers.js
  src/blocks/events/event-item/test/event-item.cypress.js
  src/blocks/events/test/events.cypress.js
Labels: [Block] Events, [Testing] Cypress, [Type] Enhancement

#1296 Improve Dynamic HR block stability through E2E testing
  .dev/tests/cypress/helpers.js
  src/blocks/dynamic-separator/test/dynamic-separator.cypress.js
Labels: [Block] Dynamic HR, [Testing] Cypress, [Type] Enhancement

#1291 Improve Author block stability through E2E testing
  package-lock.json
  src/blocks/author/test/author.cypress.js
Labels: [Block] Author, [Testing] Cypress

#1111 Improve Shape Divider style previews for WordPress 5.3
  src/blocks/dynamic-separator/styles/editor.scss
  src/blocks/shape-divider/styles/editor.scss
Labels: [Block] Shape Divider, [Type] Enhancement, wp 5.3

#1311 Fix WPCS error
  includes/ical-parser/class-coblocks-ical.php
Labels: [Type] Bug

#1308 Remove one column option from the Row block
  src/blocks/row/edit.js
  src/blocks/row/test/row.cypress.js
Labels: UX

#1309 Control Feature block headings from the parent Features block
  .dev/tests/cypress/helpers.js
  src/blocks/accordion/test/accordion.cypress.js
  src/blocks/features/block.json
  src/blocks/features/edit.js
  src/blocks/features/feature/block.json
  src/blocks/features/feature/edit.js
  src/blocks/features/inspector.js
  src/blocks/features/test/features.cypress.js
  src/blocks/services/inspector.js
  src/components/heading-toolbar/index.js
Labels: [Block] Feature, [Block] Features, [Type] Enhancement

#1310 Fix Icon block reset button for improved i18n support
  src/blocks/icon/styles/editor.scss
Labels: [Type] Bug
